html, body{
    background-color: #1b1b32;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.row{
    display: flex;
}

button {
    width: 470px;
    height: 50px;
    background-color: #37b4a8;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
h1{
    color: white;
    font-size: 50px;
}
.scores{
    display: flex;
}
